.menu-list-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
/* 

.new_product_item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 12rem;
    height: 19rem;
    margin: 15px;
    box-sizing: border-box;
    float: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddb892;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 14px 28-x rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.new_product_item img {
    width: 12rem;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;1
}

.new_product_item h3 {
    text-align: center;
    float: inline-end;
    font-size: 16px;
}

.new_product_item:hover {
}

.price_overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.product_image:hover .price_overlay {
    display: block;
} */

/* .new_product_item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 12rem;
    height: 19rem;
    margin: 15px;
    box-sizing: border-box;
    float: center;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddb892;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 14px 28-x rgba(0, 0, 0, 0.25);
    z-index: 10;
    & img {
        height: 12rem;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    & h3 {
        text-align: center;
        font-size: 16px;
    }
}

.new_product_item .product_info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    display: none;
    width: 100%;
    text-align: center;
}

.new_product_item:hover .product_info {
    display: block;
}

.new_product_item:hover img {
    transform: scale(1.05);
}

.new_product_item .title_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.new_product_item:hover .title_overlay {
    display: block;
} */

.new_product_item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: var(--product-width);
  height: var(--product-height);
  margin: var(--margin-size-1);
  box-sizing: border-box;
  text-align: center;
  border: var(--default-border-style);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  z-index: 10;
}

.new_product_item .product_image {
  position: relative;
  overflow: hidden;
}

.new_product_item img {
  display: block;
  width: var(--main-width);
  height: auto;
  transition: transform 0.3s ease;
}

.new_product_item .product_info {
  position: relative;
  overflow: hidden;
  width: var(--main-width);
  background-color: var(--form-bg-color);
  padding: var(--padding-size-1);
  border-radius: var(--default-border-radius);
  display: none;
  text-align: center;
}

.new_product_item:hover .product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--main-width);
  height: var(--main-height);
}

.new_product_item:hover img {
  transform: scale(1.05);
}

.new_product_item .product_title {
  margin: var(--main-margin);
  font-size: var(--font-size-1);
}

.new_product_item:hover .product_image .product_title {
  visibility: hidden;
}