.sub-top {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.sub-visuals {
    object-fit: cover;
}

.menu-list-item .m-photo {
    padding: 30px 15px 0;
    height: 229px;
}
ul, ol, li {
    list-style: none;
}
div
{
  display: block;
}
.menu-list-items {
    overflow: hidden;
    margin-top: 40px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.menu-list-items{
    overflow: hidden;
    margin-top:40px
}
.menu-list-items li{
    float:left;
    width:260px;
    margin-right:50px;
    margin-bottom:60px
}
.menu-list-items li:nth-child(4n){
    margin-right:0;
}
.menu-list-item{
    display:block;
    background:var(--color-brown-1) ;
    box-sizing: border-box;
    border:2px solid #f2f2f2
}
.menu-list-item .m-photo{
    padding:30px 15px 0;
    height:229px
}
.menu-list-item .m-photo img{
    max-width:100%;
    height:229px
}
.menu-list-item .m-name{
    display:flex;
    align-items:center;
    justify-content:center;
    height:90px;
    padding:0 15px;
    color:#3a466a;
    text-align:center
}
.menu-list-item:hover{
    border:2px solid #3a466a;
}
.menu-list-item:hover .m-name{
    font-weight:700;
}
