@import url("root.css");

* {
  margin: var(--main-margin);
  padding: var(--main-padding);
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: var(--font-weight-1);
  color: var(--color-font-default);
  box-sizing: border-box;
}

body {
  height: var(--main-height);
  width: var(--main-width);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-font-default);
}

li {
  list-style: none;
}

/* header style */
header {
  display: flex;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-white);
  padding: 0 4rem;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  img {
    height: 4rem;
    width: auto;
  }

  nav {
    margin-right: var(--margin-size-2);

    li {
      position: relative;
      background-color: var(--color-white);
      float: left;

      ul {
        position: absolute;
        width: auto;
        display: none;

        li {
          width: 100%;
        }
      }

      &:hover > ul {
        display: block;
      }
    }

    ul li a {
      font-size: var(--header-font-size);
      line-height: var(--header-line-height);
      padding: var(--padding-size-2);
      width: auto;
      display: block;

      &:hover {
        background-color: var(--header-bg-color-hover);
        color: var(--header-font-color);
      }
    }
  }
}

/* footer style */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--footer-height);
  padding: 0 var(--padding-default);
  justify-content: space-between;
  z-index: 1000;

  img {
    height: 4rem;
    width: auto;
  }

  ul li {
    display: inline-block;
    margin: var(--margin-size-2);
  }
}

address a {
  padding-right: var(--address-padding);
}

.solid {
  border-top: var(--default-border-style);
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid var(--color-brown-1);
  border-right: 2px solid var(--color-brown-1);
}

.arrow-top {
  transform: rotate(-45deg);
}

/* sub-top style */
.sub-top {
  margin-top: var(--sub-top-margin);
  position: relative;

  .breadcrumbs {
    display: flex;
    position: absolute;
    padding-left: var(--padding-default);
    top: 0;
    left: 0;
    width: 100%;
    height: var(--sub-top-bc-height);
    background: rgba(255, 255, 255, 0.2);
    align-items: center;
  }

  .sub-visual {
    display: flex;
    align-items: center;
    justify-content: center;

    .cnt_img {
      height: var(--sub-top-img-height);
    }

    .txt {
      position: absolute;
      top: 50%;

      p {
        margin: 0;
        text-transform: uppercase;
        font-size: var(--sub-top-font-size);
        color: var(--sub-top-font-color);
      }
    }
  }
}


.sub-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--padding-size-2);
}

.open {
  display: block !important;
  position: fixed;
  top: 4rem;
  z-index: 9999;
}

.menu-icon {
  display: none;
}

@media (max-width: 814px) {
  .header-right nav ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0 var(--padding-size-1);
    img {
      height: 3rem;
    }
    nav {
      margin-right: var(--margin-size-1);
      ul li a {
        padding: var(--padding-size-1);
        font-size: var(--font-size-1);
      }
    }
  }

  .sub-top .breadcrumbs {
    padding-left: var(--padding-size-1);
  }

  .sub-visual .cnt_img {
    height: 20vh;
  }

  .sub-visual .txt p {
    font-size: var(--font-size-2);
  }

  .sub-contents {
    padding: var(--padding-size-1);
    h1, h3 {
      font-size: var(--font-size-2);
    }
    form {
      padding: var(--padding-size-1);
    }
    input, select, textarea {
      padding: var(--padding-size-1);
    }
    button {
      width: 80%;
    }
  }

  footer {
    padding: 0 var(--padding-size-1);
    ul li {
      margin: var(--margin-size-1);
    }
  }
}