@import url("root.css");

* {
      margin: 0;
      padding: 0;
      font-family: var(--font-default-family);
      font-style: normal;
      font-weight: 400;
      color: var(--color-brown-1);
      box-sizing: border-box;
}

body {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      margin: 0 auto;
}

a {
      text-decoration: none;
      color: var();
}

li {
      list-style: none;
}

      /* header style */
header {
      display: flex;
      position: fixed;
      width: 100%;
      height: var(--header-height);
      background-color: var(--color-white);
      align-items: center;
      justify-content: space-between;
      z-index: 1000;

      & img {
            height: 4rem;
            width: auto;
            margin-left: var(--margin-size-2);
      }

}

header nav {
      margin-right: var(--margin-size-2);

      & li {
            position: relative;
            background-color: var(--color-white);
            float: left;
      }
}

header nav ul li a {
      font-size: var(--header-font-size);
      line-height:var(--header-line-height);
      padding: var(--padding-size-2);
      width: auto;
      display: block;
}

header nav ul li a:hover {
      background-color: var(--header-bg-color-hover);
      color: var(--header-font-color);
}

header nav ul li ul {
      position: absolute;
      width: auto;
      display: none;
}

header nav ul li ul li {
      width: 100%;
}

header nav ul li:hover>ul {
      display: block;
}

      /* footer style */
footer {
      height: var(--footer-height);
      z-index: 1000;
}

footer img {
      height: 4rem;
      width: auto;
}

footer ul li {
      display: inline-block;
      margin: var(--margin-size-2);
}

.arrow {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-top: 2px solid #745F50;
      border-right: 2px solid #745F50;
}

.bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 1rem;
}

address a {
      padding-right: 1.5rem;
}

.arrow-top {
      transform: rotate(-45deg);
      /* padding: 2rem;
              float: right; */
}

.hr.solid {
      border-top: var(--default-border-style);
}

      /* sub-top  style*/
.sub-top {
      padding-top: var( --sub-top-padding);
      position: relative;
}

.sub-top .breadcrumbs {
      display: flex;
      align-items: center;
      width: 100%;
      height: var(--sub-top-bc-height);
      padding-left: var(--padding-size-3);
}

.sub-top .sub-visual {
      position: relative;
}

.txt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
}

.txt p {
      margin: 0;
      text-transform: uppercase;
      font-size: var(--sub-top-font-size);
      color: var(--sub-top-font-color);
}