.store-info, .location-info{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}


.background{
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
      max-height: 50%;
}
.cnt_img {
      /* background-size: contain; */
      /* background-position: right; */
      /* max-width: auto; */
      /* max-height: 50%; */
      /* object-fit: fill; */
}
.store-location {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 80rem;
      max-height: 40rem;
      margin: 5rem;
}