.breadcrumbs{
      padding-top: 5rem;
}

.store-info, .location-info{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

/* div {
      display: flex;
      justify-content: center; 
      align-items: center;
} */
.background{
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
}
.cnt_img {
      /* background-size: contain; */
      /* background-position: right; */
      max-width: auto;
      max-height: 100%;
      object-fit: fill;
}