.products-menu{
      padding-top: 5rem;
}
.menu-select{
      align-items: center;
      display: flex;
      height: calc(100vh - 5rem);
      justify-content: center;
      position: relative;
}
.menu-select {
      height: 100%;
      width: 100%;
      object-fit: cover;
}
.menu-text {
      position: absolute;
      width: 18rem;
      border: 2px solid #745F50;
      border-radius: 64px;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
  }
  .drink {
      top: 50%;
      left: 70%;
  }
  .coffee, .dessert {
      top: 50%;
      left: 15%;
  }