* {
      margin: 0;
      padding: 0;
      font-family: var(--font-default-family);
      font-style: normal;
      font-weight: 400;
      color: var(--color-brown-1);
      box-sizing: border-box;
}

:root {
      --font-default-family: 'Kurale';
      --color-brown-1: #745F50;
      --color-brown-2: #e1cfbd;
      --color-white-1: #fff;
      --color-white-2: #d1dfdd --color-font-default:var(--color-brown-1);
      --color-text-title: var(--color-white-1);
}

body {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      margin: 0 auto;
}

a {
      text-decoration: none;
}

li {
      list-style: none;
}

header {
      display: flex;
      position: fixed;
      width: 100%;
      height: 5rem;
      background-color: var(--color-white-1);
      align-items: center;
      justify-content: space-between;
      z-index: 1000;

      & img {
            height: 4rem;
            width: auto;
            margin-left: 3rem;
      }

}

header nav {
      margin-right: 3rem;

      & li {
            position: relative;
            background-color: white;
            float: left;
      }
}

header nav ul li a {
      font-size: 20px;
      line-height: 30px;
      padding: 25px;
      width: auto;
      display: block;
}

header nav ul li a:hover {
      background-color: #e1cfbd;
      color: #745f50;
}

header nav ul li ul {
      position: absolute;
      width: auto;
      display: none;
}

header nav ul li ul li {
      width: 100%;
}

header nav ul li:hover>ul {
      display: block;
}

footer {
      height: 6rem;
      z-index: 1000;
}

footer img {
      height: 4rem;
      width: auto;
}

footer ul li {
      display: inline-block;
      margin: 40px;
}

.arrow {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-top: 2px solid #745F50;
      border-right: 2px solid #745F50;
}

.bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 1rem;
}

address a {
      padding-right: 1.5rem;
}

.arrow-top {
      transform: rotate(-45deg);
      /* padding: 2rem;
      float: right; */
}

hr.solid {
      border-top: 1px solid #745F50;
}

article>h2 {
      color: var(--color-text-title);
}

.sub-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5rem;
      position: relative;
}

.sub-top .breadcrumbs {
      display: flex;
      align-items: center;
      width: 100%;
      height: 2.5rem;
      padding-left: 3rem;
}

.sub-top .sub-visual {
      position: relative;
}
.sub-top .sub-visual .cnt_img {
      max-height: 10rem; 
      object-fit: cover;
    }
.txt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
}

.txt p {
      text-transform: uppercase;
      font-size: 1.5rem;
      color: var(--color-white-1);
}