* {
      margin: 0;
      padding: 0;
      font-family: var(--font-default-family);
      font-style: normal;
      font-weight: 400;
      color: var(--color-brown-1);
      box-sizing: border-box;
}

:root {
      --font-default-family: 'Kurale';
      --color-brown-1: #745F50;
      --color-brown-2: #e1cfbd;
      --color-white-1: #fff;
      --color-white-2: #d1dfdd --color-font-default:var(--color-brown-1);
      --color-text-title: var(--color-white-1);
}

body {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      margin: 0 auto;
}

a {
      text-decoration: none;
}

li {
      list-style: none;
}





article>h2 {
      color: var(--color-text-title);
}

.sub-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5rem;
      position: relative;
}

.sub-top .breadcrumbs {
      display: flex;
      align-items: center;
      width: 100%;
      height: 2.5rem;
      padding-left: 3rem;
}

.sub-top .sub-visual {
      position: relative;
}
.sub-top .sub-visual .cnt_img {
      max-height: 10rem; 
      object-fit: cover;
    }
.txt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
}

.txt p {
      text-transform: uppercase;
      font-size: 1.5rem;
      color: var(--color-white-1);
}