:root {
      --main-width: 100%;
      --main-height: 100%;
      --main-margin: 0;
      --main-padding: 0;
      --default-list-style: none;
      --default-text-decoration: none;


      /* colors */
      --color-brown-1: #745F50;
      --color-brown-2: #e1cfbd;
      --color-black: #000;
      --color-dark :#555;
      --color-white: #FFF;
      --color-font-default: var(--color-brown-1);
      --color-text-title: var(--color-white);
      --form-bg-color: rgba(116, 95, 80, 0.1);

      /* font styles */
      --default-font-family: 'Kurale';
      --font-size-1: 1rem;/* 16px */
      --font-size-2: 1.25rem; /* 20px */
      --font-size-3: 1.5rem; /* 24px */
      --font-size-4: 2rem; /* 32px */
      --font-weight-1: 400;
      --font-weight-2: 600;
      --default-font-style: normal;

      /* sizes */
      --margin-size-1: 1rem;
      --margin-size-2: 2rem; 
      --margin-size-3: 3rem;/* 48px */
      --padding-size-1: 1rem;
      --padding-size-2: 1.5rem;
      --padding-size-3: 3rem;
      --padding-default : 4rem;
      --form-width : 25rem;
      --line-height : 2rem;
      
      --default-border-radius: 1rem;
      --default-border-style: 1px solid var(--color-brown-1);

      /* header style */
      --header-bg-color: var(--color-white);
      --header-bg-color-hover: var(--color-brown-2);
      --header-height: 5rem; /* 80px */
      --header-line-height: 1.875rem;
      --header-font-size: var(--font-size-2);
      --header-font-color: var(--color-brown-1);
      --header-font-color-hover: var(--color-brown-1);

      /* footer style  */
      --footer-bg-color: var(--color-white);
      --footer-height: 5rem; /* 80px */
      --footer-font-size: var(--font-size-2);
      --footer-font-color: var(--color-brown-1);
      --address-padding: 1.5rem;

      /* sub-top */
      --sub-top-margin : 5rem;
      --sub-top-bc-height : 2.5rem;
      --sub-top-img-height: 10rem;
      --sub-top-font-size: var(--font-size-3);
      --sub-top-font-color : var(--color-white);

      /* sub-content */
      
}

